@charset "UTF-8";
.sec{
    margin-top:7rem;
}
@media screen and (max-width: 768px){
    .sec{
        padding: 1.6rem;
        margin-top: 0;
    }
}
.sec_contents{
    margin-top: 3.2rem;
}
@media screen and (max-width: 768px){
    .sec_contents{
        margin-top: 1.6rem;
    }
}
.fv{
    margin-top: 13.88rem;
}
@media screen and (max-width: 768px) {
    .fv{
        margin-top: 7.6rem;
    }
}
.slider-area{
    max-width: 88rem;
    margin: auto;
    padding-top: 4rem;
}
@media screen and (max-width: 768px){
    .slider-area{
        padding-top: 0;
    }
}

/* ニュースエリア */
.news .sec_ttl{
    margin-left: 0.4rem;
}
.news .news_list{
    margin-top: 1.6rem;
}
.news_list-item{
    border: #F593A5 1px solid;
    border-bottom: none;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1.6rem;
    display: flex;
    gap: 2rem;
}
@media screen and (max-width: 768px){
    .news_list-item{
        display: block;
        padding: .4rem 1.2rem .8rem;
    }
}
.news_list-item:last-child{
    border-bottom: #F593A5 1px solid;
}
.news_list-item:last-child a{
    border-bottom:#F593A5 1px solid;
}
@media screen and (max-width: 768px){
  .news_list-item:last-child a{
    border-bottom:#F593A5 1px solid;
}
}
.news_list-item a{
    display: block;
    padding: 2rem;
}
.news_list-item_ttl{
    font-weight:normal;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
}
@media screen and (max-width: 768px){
    .news_list-item_ttl{
        font-size: 1.3rem;
        line-height: 1.86;
    }
}

time.news_list-item_datetime {
    display: inline-block;
    font-size: 1.3rem;
    color: #777;
    line-height: 2.1rem;
}
@media screen and (max-width: 768px){
    time.news_list-item_datetime {
        font-size: 1.1rem;
    }
}

.frame_wrapper {
    max-width:57rem;
    margin-left: auto;
    margin-right: auto;
}

.frame_box {
    position: relative;
    padding-top: 56%;
}
@media screen and (max-width: 768px){
  .frame_box {
    width:auto;
  }
}
.frame_box iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner_list{
    display: flex;
    gap: 3.2rem;
}
@media screen and (max-width: 768px){
  .banner_list{
    flex-wrap: wrap;
    gap: 2.4rem 3.2rem;
}
}
.banner_list-item{
    border: #F593A5 1px solid;
}

/* 医師紹介 */
.intro_d_list{
    margin-top: 10rem;
}
@media screen and (max-width: 768px){
    .intro_d_list{
        margin-top: 4rem;
    }
}
.intro_d_list-item{
    display: flex;
    border: solid 1px #F04E75;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px){
    .intro_d_list-item{
        flex-direction: column-reverse;
    }
}

.intro_d_list-item:last-child{
    margin-bottom: 0;
}

.intro_d-desc{
    padding: 2.4rem 4rem 4rem;
    flex: 1;
}
@media screen and (max-width: 768px){
    .intro_d-desc{
        padding: 2.4rem;
    }
}

.intro_d_ttl .pn_list{
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 768px){
    .intro_d_ttl .pn_list{
        margin-bottom: .8rem;
    }
}

.intro_d_ttl .pn_list .position{
    font-size: 2.1rem;
    line-height: 3.8rem;
    margin-right: 1.6rem;
}

@media screen and (max-width: 768px){
    .intro_d_ttl .pn_list .position{
        font-size: 1.5rem;
        line-height: 1;
    }
}

.intro_d_ttl .pn_list .name{
    font-size: 3rem;
}

@media screen and (max-width: 768px){
    .intro_d_ttl .pn_list .name{
        font-size: 2.4rem;
        line-height: 1;
    }
}

.intro_d_ttl .en{
    color: #EC829B;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 768px){
    .intro_d_ttl .en{
        font-size: 1.6rem;
        letter-spacing: .04em;
    }
}

.intro_d_txt{
    margin-top: 2rem;
}

@media screen and (max-width: 768px){
    .intro_d_txt{
        font-size: 1.4rem;
        font-weight: 400;
    }
}

.intro_d-smb{
    width: 40rem;
    margin-left: 4rem;
}
@media screen and (max-width: 768px){
    .intro_d-smb{
        width: auto;
        margin-left: 0;
    }
}

.point3_list-item{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #F04E75;
    margin-top: 10rem;
}
@media screen and (max-width: 768px){
  .point3_list-item{
    flex-direction: column;
    
  }
}
.point3_list-item:last-child .reason_num::before{
    display:none;
}
.reason_num{
    width: 11rem;
    padding: 2.4rem;
    text-align: center;
    border-right: solid 1px #F04E75;
    position:relative;
}
@media screen and (max-width: 768px){
    .reason_num{
        width: auto;
        height: 13rem;
        border-right: none;
    }
}
.reason_num::before{
    content:'';
    background-color: #F04E75;
    width: 1px;
    height: 100%;
    position: absolute;
    bottom: -21.75rem;
    right: -1px;
}
.reason_num-ttl{
    display: inline-block;
    font-size: 2.7rem;
    font-family: 'Roboto', sans-serif;
    color: #FC7B9A;
}
@media screen and (max-width: 768px){
    .reason_num-ttl{
        font-size: 2.2rem;
    }
}

.reason_num-num {
    display: block;
    padding: 1rem;
}
@media screen and (max-width: 768px){
    .reason_num-num{
        width: 26%;
        margin: auto;
    }
}
.reason_desc{
    flex: 1.6;
    padding: 1.6rem 3.2rem;
}
@media screen and (max-width: 768px){
    .reason_desc{
        padding: 2.4rem;
    }
}
.reason_desc-ttl{
    font-size:2.4rem;
    line-height: 1.4;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    font-weight: 600;
}

@media screen and (max-width: 768px){
    .reason_desc-ttl{
        font-size:2rem;
        letter-spacing: .02em;
    }
}

.reason_desc-ttl::first-letter{
    font-size:3.4rem;
}

@media screen and (max-width: 768px){
    .reason_desc-ttl::first-letter{
        font-size:3rem;
        margin-right: 3px;
    }
}

.reason_desc-txt{
    line-height: 1.5;
    margin-top: 1.6rem;
}

@media screen and (max-width: 768px){
    .reason_desc-txt{
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.87;
    }
}

.reason_tmb{
    flex: 1;
}

.beautymenu_list-item{
    width: 50%;
}
.beautymenu_list-item:nth-child(2){
    border-right: none;
}
.beautymenu_list-item .menu_txt {
    font-size: 2.4rem;
    left: 4rem;
}
@media screen and (max-width: 768px){
    .beautymenu_list-item .menu_txt {
        font-size: 1.2rem;
        left: 1rem;
        line-height: 1.5;
        font-weight: bold;
    }
}

  .consent_form{
    border: solid 1px #F04E75;
    padding: 3.2rem;
    margin-top: 7rem;
  }
.consent_form-ttl{
  color:#EC829B;
  text-align: center;
  font-size: 2.1rem;
  }
.consent_form-txt{
  margin-top:2.4rem;
  text-align: center;
}

@media screen and (max-width: 768px){
    .consent_form-txt{
        font-size: 1.5rem;
        font-weight: normal;
    }
}

.consent_form .txt-link{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 768px){
    .consent_form .txt-link{
        margin-top: 3rem;
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.access .access_contents{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
}
@media screen and (max-width: 768px){
    .access .access_contents{
    margin-top: 2rem;
  }
}

.access_contents .googlemap{
    width: 45rem;
    height: 32rem;
    margin-right: 6rem;
}
@media screen and (max-width: 768px){
    .access_contents .googlemap{
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }
}
.access_contents .googlemap iframe{
    width: 100%;
    height: 100%;
}
.access_contents .access_desc{
    flex:1;
    padding: 2.4rem;
    border: solid 1px #F04E75;
}
.access_desc-logo{
  width: 32rem;
}
@media screen and (max-width: 768px){
    .access_desc-logo{
        width: 27rem;
      }
}
.access_desc-txt{
  margin-top:2.4rem;
  margin-left: 0.4rem;
}

@media screen and (max-width: 768px){
    .access_desc-txt{
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.access_desc-dl{
  display:flex;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
}

@media screen and (max-width: 768px){
    .access_desc-dl{
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.access_desc-note{
  color: #F593A5;
  margin-top: 2.4rem;
  line-height: 1.5;
  margin-left: 0.4rem;
}

@media screen and (max-width: 768px){
    .access_desc-note{
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.access_desc .cv-btn{
    width: 30rem;
    margin-right: 2.4rem;
}
@media screen and (max-width: 768px){
    .access_desc .cv-btn{
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }
}
.access_desc-linkarea{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2.4rem;
    margin-left: 0.4rem;
}
@media screen and (max-width: 768px){
    .access_desc-linkarea{
        justify-content: center;
    }
}

@media screen and (max-width: 768px){
    .access_desc-linkarea .txt-link {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

#sb_instagram .sbi_photo {
    height: calc(100vw / 6) !important;
}
#sb_instagram .sb_instagram_header, .sb_instagram_header {
    max-width: 104rem;
    margin: auto;
    float: unset;
    margin-bottom: 2rem !important;
    height: 80px !important;
}

.insta #sb_instagram .sbi_follow_btn a{
    margin-top: 4rem;
}
.insta #sb_instagram .sb_instagram_header .sbi_header_img, .sb_instagram_header .sbi_header_img {
    background: linear-gradient(209deg, #427eff 6%, #f13f79 50%, #ffdb2c 99%);
    overflow: hidden;
}

/* 施術の流れ */

.flow{
    background-color: #FDF1F3;
    margin-top: 15rem;
}

@media screen and (max-width: 768px){
    .flow{
        margin-top: 9rem;
    }
}

.flow .sec_ttl {
    top: -5.8rem;
}
@media screen and (max-width: 768px){
  .flow .sec_ttl {
    top: -6.6rem;
}
}
.flow_contents{
    padding: 0 6.4rem 10rem;
}
@media screen and (max-width: 768px){
    .flow_contents{
        padding: 0 0 4rem;
    }
}
.flow_list{
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-top: 4rem;
}
@media screen and (max-width: 768px){
    .flow_list{
    margin-top: 0;
    gap: 9.6rem;
    }
}
.flow_list-item{
    display: flex;
    gap: 6.4rem;
    align-items: center;
}
@media screen and (max-width: 768px){
    .flow_list-item{
        flex-direction: column;
        gap: 2.4rem;
        position: relative;
    }
}
@media screen and (max-width: 768px){
    .flow_list-item::after {
        content: '';
        position: absolute;
        background: url(../img/top/circle.svg);
        background-repeat: repeat-y;
        background-size: contain;
        width: 0.8rem;
        height: 6rem;
        left: 50%;
        bottom: -8rem;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 768px){
    .flow_list-item:last-child:after {
        display: none;
    }
}
.flow_list-item_tmb {
    width: 13.4rem;
    height: 13.4rem;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    border: #F04E75 solid 1px;
    position: relative;
}
.flow_list-item_tmb::after {
    content: '';
    position: absolute;
    background: url(../img/top/circle.svg);
    background-repeat: repeat-y;
    background-size: contain;
    width: 0.8rem;
    height: 9rem;
    left: 50%;
    bottom: -9.8rem;
    transform: translateX(-50%);
}
@media screen and (max-width: 768px){
    .flow_list-item_tmb::after {
        display: none;
    }
}
.flow_list-item:last-child .flow_list-item_tmb::after {
    display: none;
}
.flow_list-item_tmb img{
    width: 55%;
    margin: auto;
}
.flow_list-item_tmb.n1 img {
    width: 45%;
}
.flow_list-item_tmb.n2 img {
    width: 68%;
}
.flow_list-item_tmb.n3 img {
    width: 52%;
}
.flow_list-item_tmb.n5 img {
    width: 85%;
}
.flow_list-item_tmb.n6 img {
    width: 60%;
}
.flow_list-item_desc{
    flex: 1;
}
.flow_list-item_desc .item_desc-ttl {
    font-size: 2.4rem;
    font-weight: 600;
    color: #EC829B;
    font-weight: 500;
}
@media screen and (max-width: 768px){
    .flow_list-item_desc .item_desc-ttl {
        text-align: center;
    }
}
.flow_list-item_desc .item_desc-txt{
    margin-top: 0.8rem;
}