@charset "UTF-8";
/* 下層ページ共通 */
.breadcrumbs_list{
    margin-top: 7.2rem;
}
.fv{
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
}
@media screen and (max-width: 768px) {
    .fv{
        height: 18rem;
        background-size: contain;
    }
}
.about .fv{
    background-image: url(../img/about/mv.jpg);
    background-size: cover;
    height: 50rem;
}
@media screen and (max-width: 768px){
    .about .fv{
        background-image: url(../img/about/mv_sp.jpg);
        height: 25rem;
    }
}
.smallface .fv{
    background-image: url(../img/menu/mv1.jpg);
}
.aesthetic-dermatology .fv{
    background-image: url(../img/menu/mv2.jpg);
}
.hair-removal .fv{
    background-image: url(../img/menu/mv3.jpg);
}
.aesthetic-surgery .fv{
    background-image: url(../img/menu/mv4.jpg);
}
@media screen and (max-width: 768px) {
    .smallface .fv{
        background-image: url(../img/menu/mv1_sp.jpg);
    }
    .aesthetic-dermatology .fv{
        background-image: url(../img/menu/mv2_sp.jpg);
    }
    .hair-removal .fv{
        background-image: url(../img/menu/mv3_sp.jpg);
    }
    .aesthetic-surgery .fv{
        background-image: url(../img/menu/mv4_sp.jpg);
    }
}
.fv .page_ttl{
    position: relative;
    z-index: 50;
    text-align: left;
    padding-left: 4rem;
    color: #333;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .fv .page_ttl{
        font-size: 2.4rem;
        padding-left: 2.4rem;
    }
}
.about .fv .page_ttl{ 
    color: #fff;
    position: absolute;
    top: 15rem;
}
@media screen and (max-width: 768px) {
    .about .fv .page_ttl{ 
        top: 50%;
        transform: translateY(-50%);
    }
}

/* 下層ページFV */
.fv.fv--about::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/about.svg);
    width: 100%;
    height: 100%;
    background-size: 55rem;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
}
@media screen and (max-width: 768px){
    .fv.fv--about::before{
        background-size: 24rem;
    }
}
.advertisement .fv::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/contact.svg);
    width: 100%;
    height: 100%;
    background-size: 68rem;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
}
@media screen and (max-width: 768px){
    .advertisement .fv::before{
        background-size: 30rem;
        bottom: -5rem;
    }
}
.fv.fv--art::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/articlelist.svg);
    width: 100%;
    height: 100%;
    left: 0;
    background-size: 90rem;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
}
@media screen and (max-width: 768px){
    .fv.fv--art::before{
        background-size: 40rem;
    }
}
.fv.fv--company::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/company.svg);
    width: 100%;
    height: 118%;
    top:7rem;
    left: 0;
    background-size: 90rem;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
}
@media screen and (max-width: 768px){
    .fv.fv--company::before{
        background-size: 35.5rem;
        bottom: -7rem;
    }
}
.contact .fv::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/contact.svg);
    width: 100%;
    height: 100%;
    background-size: 68rem;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
}
@media screen and (max-width: 768px){
    .contact .fv::before{
        background-size: 30rem;
        bottom: -5rem;
    }
}
.cookiepolicy .fv::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/cookiepolicy.svg);
    width: 100%;
    height: 100%;
    background-size: 55rem;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    top: 6rem;
}
@media screen and (max-width: 768px){
    .cookiepolicy .fv::before{
        background-size: 48rem;
        bottom: -5rem;
    }
}
.cookiepolicy .fv::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/cookiepolicy.svg);
    width: 100%;
    height: 100%;
    background-size: 105rem;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    top: 9rem;
}
@media screen and (max-width: 768px){
    .cookiepolicy .fv::before{
        background-size: 48rem;
        bottom: -5rem;
    }
}

.fv.fv--download::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/usefuldocument.svg);
    background-position: left calc((100vw - 144rem)/ 2 + 12rem) bottom 0;
    width: 100%;
    left: 0;
    height: 100%;
    background-size: 130rem;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
}
@media screen and (max-width: 768px){
    .fv.fv--download::before{
        background-size: 58rem;
        bottom: -5rem;
    }
}

.fv.fv--engagement::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/engagement.svg);
    background-position: left calc((100vw - 144rem)/ 2 + 12rem) bottom 0;
    width: 100%;
    height: 100%;
    top: 8.5rem;
    left: 0;
    background-size: 132rem;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
}
@media screen and (max-width: 768px){
    .fv.fv--engagement::before{
        background-size: 64rem;
        bottom: -5rem;
    }
}
.privacy .fv::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/privacypolicy.svg);
    width: 100%;
    height: 100%;
    background-size: 108rem;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    top: 9rem;
}
@media screen and (max-width: 768px){
    .privacy .fv::before{
        background-size: 48rem;
        bottom: -5rem;
    }
}
.legal .fv::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/legal.svg);
    width: 100%;
    height: 100%;
    background-size: 39rem;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    top: 9rem;
}
@media screen and (max-width: 768px){
    .legal .fv::before{
        background-size: 21rem;
        height: 12rem;
        background-position: top left 2rem! important;
        bottom: -6.8rem;
    }
}


.fv.fv--service::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/categorylist.svg);
    width: 100%;
    height: 100%;
    top: 9.4rem;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
}
@media screen and (max-width: 768px){
    .fv.fv--service::before{
        background-size: 49rem;
        bottom: -5.4rem;
    }
}
.terms .fv::before{
    content: '';
    position: absolute;
    background-image: url(../img/underlayer/terms.svg);
    width: 100%;
    height: 100%;
    background-size: 55rem;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    top: 6rem;
}
@media screen and (max-width: 768px){
    .terms .fv::before{
        background-size: 24rem;
        bottom: -5rem;
    }
}


.fv .container{
    height: 100%;
    display: table;
    width: 112rem;
}
@media screen and (max-width: 768px){
    .fv .container{
        width: 100%;
    }
}

/* セクション section */
.sec{
    margin-top: 10rem;
}
@media screen and (max-width: 768px) {
    .sec{
        margin-top: 6.4rem;
    }
}
.sec_ttl{
    text-align: center;
}
.art_contents{
    margin-top: 7.2rem;
}

/* サンクスページ */
.single-thanks .art_page {
    margin-top: 7.2rem;
    padding-top: 7.2rem;
}
@media screen and (max-width: 768px) {
    .single-thanks .art_page {
        margin-top: 7.6rem;
        padding: 1.6rem;
        padding-top: 4rem;
    }
}
.single-thanks .art_page_contents p{
    text-align: center;
}
.single-thanks .art_page_contents-link_btn{
    text-align: center;
    margin-top: 4.8rem;
}
.single-thanks .art_page_contents-txt_link{
    text-align: center;
    margin-top: 4rem;
}

.single-thanks .art_page_contents-txt_link{
    text-align: center;
    margin-top: 4rem;
}
.single-thanks .art_page_contents-link_btn .link_btn-link{
    text-decoration: none;
    color: #333333;
}

.single-form .fv{
     margin-top: 7.2rem;
}

