@charset "UTF-8";
/* 下層ページ共通 */
.breadcrumbs_list{
    margin-top: 7.2rem;
}
.fv{
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
}
@media screen and (max-width: 768px) {
    .fv{
        height: 18rem;
        background-size: contain;
    }
}
.about .fv{
    background-image: url(../img/about/mv.jpg);
    background-size: cover;
}
@media screen and (max-width: 768px){
    .about .fv{
        background-image: url(../img/about/mv_sp.jpg);
        height: 25rem;
    }
}
.smallface .fv{
    background-image: url(../img/menu/mv1.jpg);
}
.aesthetic-dermatology .fv{
    background-image: url(../img/menu/mv2.jpg);
}
.hair-removal .fv{
    background-image: url(../img/menu/mv3.jpg);
}
.aesthetic-surgery .fv{
    background-image: url(../img/menu/mv4.jpg);
}
@media screen and (max-width: 768px) {
    .smallface .fv{
        background-image: url(../img/menu/mv1_sp.jpg);
    }
    .aesthetic-dermatology .fv{
        background-image: url(../img/menu/mv2_sp.jpg);
    }
    .hair-removal .fv{
        background-image: url(../img/menu/mv3_sp.jpg);
    }
    .aesthetic-surgery .fv{
        background-image: url(../img/menu/mv4_sp.jpg);
    }
}
.fv .page_ttl{
    position: relative;
    z-index: 50;
    text-align: left;
    padding-left: 4rem;
    color: #333;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .fv .page_ttl{
        font-size: 2.4rem;
        padding-left: 2.4rem;
    }
}
.about .fv .page_ttl{ 
    color: #fff;
}


.fv .container{
    height: 100%;
    display: table;
    width: 112rem;
}
@media screen and (max-width: 768px){
    .fv .container{
        width: 100%;
    }
}

/* セクション section */
.sec{
    margin-top: 10rem;
}
@media screen and (max-width: 768px) {
    .sec{
        margin-top: 6.4rem;
    }
}
.sec_ttl{
    text-align: center;
}
.art_contents{
    margin-top: 7.2rem;
}